.footer{
    background-color: #CBC3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 170px;
    border-top: solid lightgrey 1px;
}

.aboutFaqContact{
    display: flex;
    padding-top: 60px;
    color: white;
}

.spacerForIcons{
    padding-left: 30px;
}

.iconsDiv{
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
}

#about{
    padding-left: 20px;
}

#faq{
    padding-left: 20px;
}

#contactUs{
    padding-left: 20px;
}

#feedback{
    padding-left: 20px;
}

