.footer{
    background-color: #CBC3E3;
    background: linear-gradient(to top, #C3B1E1, #CCCCFF, transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 170px;
    border-top: solid lightgrey 1px;
}

.aboutFaqContact{
    display: flex;
    padding-top: 80px;
}

#about{
    padding-left: 20px;
}

#faq{
    padding-left: 20px;
}

#contactUs{
    padding-left: 20px;
}