/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Styling for School Profile  */
section {
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  padding-bottom: 30px;
  color: purple;
}

.card-title h6 {
  text-align: center;
}
.card-body h5 {
  color: purple;
  text-transform: capitalize;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.card-body h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
}
.card-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}

.desc {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
}

#hero .card {
  text-align: center;
  width: 25rem;
  height: 25rem;
}

#quality-reports .card {
  text-align: center;
  width: 25rem;
  height: 10rem;
}

.message-not-found {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message-select-schools {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.school-button {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.school-button button {
  margin-left: 10px;
}
.collapse-expand button {
  margin-left: 10px;
}

.collapse-expand {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.collapse-expand-button {
  padding: 10px;
  border-radius: 20px;
}

.compare {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px;
  border-radius: 20px;
  margin-left: 10px;
}

.background-color {
  /* background-image: linear-gradient(to right, rgba(0, 0, 255, 0), rgb(45, 145, 217));  blue gradient*/
  background-image: linear-gradient(
    to bottom,
    #c3b1e1,
    #ccccff,
    transparent
  ); /* purple gradient */
}

.scroll-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 15px;
  border-radius: 50%;
}

.scroll-button:hover {
  background-color: rgb(211, 211, 211);
}

/* .collaspe-title:hover{
    background-color: rgb(233, 229, 229);
    border-radius: 10px;
} */


.search {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
}

.collaspe-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* cursor: pointer; */
    background-color: white;
    width: 900px;
    padding: 5px;
    font-size: 16px;
}
.collaspe-body{
    width: 900px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

.school-data {
    flex: 1;
    margin-right: 50px;
}

.collaspe-item{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    max-width: fit-content;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
   
}

.compare-search{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1rem auto;
}

.search-compare {
  align-items: center;
  display: flex;
  justify-content: center;
}
.search-bars {
  margin-left: 90px;
  flex-direction: column;
  display: flex;
}

.dropdowns {
  display: flex;
  gap: 10px; /* Adjust the gap between dropdowns */
}

.dropdown-container {
  display: flex;
  justify-content: center;
}

.dropdown-box {
  background-color: #f0f8ff; /* Light blue color */
  border: 1px solid #ccc; /* Border for the box */
  border-radius: 5px; /* Adjust border radius for rounded corners */
  padding: 10px; /* Adjust padding inside the box */
}
