/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Styling for School Profile  */
section{
    padding-top: 30px; 
    padding-bottom: 30px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-bottom: 30px;
    color: purple;
}

.card-title h6{
    text-align: center;
}
.card-body h5 {
   color: purple;
   text-transform: capitalize;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-body h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}
.card-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.desc{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}

#hero .card{
   text-align: center;
   width: 25rem;
   height: 25rem;
} 

.school-button{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.background-color {
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0), rgb(45, 145, 217));    
}
  
.scroll-button {
    position: fixed;
    bottom:10px;
    right:10px;
    padding: 15px;
    border-radius: 50%;
}

.scroll-button:hover {
    background-color: rgb(211, 211, 211);
}

.btn.btn-primary {
    font-family: Georgia, 'Times New Roman', Times, serif;
}